<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
<h2>회원가입 정보 입력</h2>
<form th:action="@{/join}" method="post">
    <label for="memberName">이름:</label>
    <input type="text" id="memberName" name="memberName" required/><br/><br/>

    <label for="memberNumber">학번:</label>
    <input type="text" id="memberNumber" name="memberNumber" required/><br/><br/>

    <label for="grade">학년:</label>
    <input type="number" id="grade" name="grade" min="1" max="4" required/><br/><br/>

    <label for="memberEmail">이메일:</label>
    <input type="email" id="memberEmail" name="memberEmail" placeholder="선택사항"/><br/><br/>

    <label for="memberId">로그인 ID:</label>
    <input type="text" id="memberId" name="memberId" required/><br/><br/>

    <label for="password">비밀번호:</label>
    <input type="password" id="password" name="password" required/><br/><br/>

    <button type="submit">회원가입</button>
</form>
</body>
</html>